body {
	background: url("../images/earthbeta2.jpg");
	background-repeat: no-repeat;
    background-size: 120%;

}

button {
	width: 80%;
	height: 40px;
	margin: 0 10%;
	float: left;
}

button.answerchoice {
	display: none;
}

button:hover {
	background-color: blue;
	color: white;
}

.answers div {
	margin: 0 auto;
}

img {
	height: 400px;
	width: auto;
}

h1, h2, h3, .question {
	font-family: 'Play', sans-serif;
	text-align: center;
	color: whitesmoke;
}